<section id="banner" class="pb-banner d-flex align-items-center">
	<a class="btn-scrolldown js-scrolldown"><i class="fas fa-chevron-down"></i></a>
	<div class="container">
		{% if post.banner_terugknop %}
			<a href="{{ post.banner_terugknop.url }}"><i class="btn-prev fas fa-chevron-left"></i></a>
		{% endif %}
		<div class="row">
			<div class="col-md-10 offset-md-1 text-center">
				<h2 class="h1 mb-2">
					{% if post.banner_titel %}
						{{ post.banner_titel }} 
					{% else %}
						{{ post.title }} 
					{% endif %}
				</h2>
				{% if post.banner_subtitel %}
					<h3 class="mb-4 weight-400"> {{ post.banner_subtitel }} </h3>
				{% endif %}
				<br><br>
				<div class="buttons">				
					{% for item in post.get_field('banner_knoppen') %}
						{% if item.acf_fc_layout == 'video' %}
							<a href="{{ item.videolink }}" class="btn btn-primary" data-lightbox> 
								{{ item.titel_knop }} <i class="fas fa-chevron-right"></i>
							</a>
						{% elseif item.acf_fc_layout == 'link' %}
							<a href="{{ item.link.url }}" target="_blank" class="btn btn-primary"> 
								{{ item.link.title }} <i class="fas fa-chevron-right"></i>
							</a>
						{% elseif item.acf_fc_layout == 'lees' %}	
							<a href="javascript:void(0)" class="js-scrolldown btn btn-primary"> 
								{{ item.titel_knop }} <i class="fas fa-chevron-right"></i>
							</a>
						{% elseif item.acf_fc_layout == 'bestand' %}	
							<a href="{{ item.bestand.url }}" target="_blank" class="btn btn-primary"> 
								{{ item.titel_knop }} <i class="fas fa-chevron-right"></i>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section> 